<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')}}
  {{style ('/public/style.css')}}
  <title>CicleLyF</title>
</head>
<body>


<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4"></h5>
      <span class="text-muted"></span>
  </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/resources/views//registration.edge">
    <img src="https://png.icons8.com/windows/50/9b59b6/spiderweb.png" width="30" height="30" class="d-inline-block align-top" alt="">
    CircleLyF
  </a>
      <a class="nav-item nav-link" href="/resources/views/login.edge">CircleIn</a>

</nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>









{{script('https://code.jquery.com/jquery-3.3.1.slim.min.js')}}

  {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')}}

  {{script ('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')}}
</body>
</html>
